## SETENV is needed for Spack environments to work properly with spack install when run with "sudo -E -u {{ spack_service_user }}"
%{{ spack_service_group }}	ALL=({{ spack_service_user }})     NOPASSWD:SETENV:       {{ spack_install_dir }}/bin/spack *
